*,:before,:after{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.code,
.preview{
	position:fixed;
	top:0;
	width:50%;
	height:100%;
	overflow:auto;
	padding: 40px;
}

.code {
	left:0;
	overflow:hidden;
	background-color:#111;
}

.code:after{
	position:absolute;
	display:block;
	font-size:16px;
	font-weight:bold;
	top:10px;
	left:10px;
	color:#fff;
	content:"Code:";
	z-index:1;
}

.code .top,
.code .bottom{
	font-size: 12px;
	height:60%;
	width:100%;
	background-color:#161616;
	overflow: auto;
	padding:20px;
	color:#fff;
}
.code .bottom{
	margin-top:10%;
	height:30%;
}

.preview{
	right:0;
	background-color:#fff;
	overflow-x:hidden;
}

.preview:after{
	position:absolute;
	display:block;
	font-size:16px;
	font-weight:bold;
	top:10px;
	left:10px;
	color:#000;
	content:"Preivew:";
	z-index:1;
}

pre{
	margin:0;
	-webkit-tab-size:2;
	-moz-tab-size:2;
	tab-size:2;
}
