body{
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
	overflow-x: hidden;
}

.contain{
	display: block;
	width: 100%;
	max-width: 100%;
}

.contain:after,
.contain:before{
	display: table;
	line-height:0;
	content: "";
}

.contain .list-left{
	position: fixed;
	height: 100%;
	width: 270px;
	background:#f8f8f8;
	z-index: 1;
}

.contain .list-right{
	display: block;
	width: 80%;
	margin-left:270px;
	background:#fff;
	/* min-height:1000px; */
}

.contain .logo{
	width: 100%;
	height: 100px;
	background-color: #f3f3f3;
}

.contain .list{
	padding: 20px 1px;
	height: 100%;
	max-height:100%;
	overflow-x: hidden;
	overflow-y: auto;
}

.contain .list .list-title{
	padding: 4px 7px;
	font-weight: bold;
	color: #fff;
	background-color: #ca4d3f;
}

.contain .list .list-items{
  margin: 0;
  padding-left: 20px;
  margin-top: 10px;
  list-style-type: none;
}

.contain .list .list-items li{

}

.contain .list .list-items a{
	text-decoration:none;
	cursor: pointer;
	color:#ca4d3f;
	background-color: transparent;
	padding: 2px 4px;
	font-size: 12px;
}

.contain .list .list-items a.active,
.contain .list .list-items a:active,
.contain .list .list-items a:hover{
	background-color:#ca4d3f;
	color: #fff;
}

.contain .content-render{
	padding: 20px 30px 20px 20px
}

.content-render h2{
	margin-top:0;
	margin-bottom:20px;

}

.content-render .content-s-title{
	display: inline-block;
	padding: 4px 9px;
	font-size: 24px;
	font-weight: bold;
	color: #fff;
	background-color: #000;
}

.content-introduce h3{
	font-size: 22px;
	font-weight: bold;
}

.content-render hr{
	border:0;
	height: 1px;
	background-color: #eee;
	margin:20px 0; 
}

.content-render code{
  display: inline-block;
  text-indent: 2px;
  padding: 5px 8px;
  margin-bottom:3px;
  background-color: #ca4d3f;
  color: #fff;
  font-weight: bold;
  vertical-align: baseline;
}

.content-render .content-param{
	line-height: 2;
}
.content-render .content-param h5{
	font-size: 13px;
	font-weight: normal;
	margin: 0 ;
	padding: 0 ;
}

.content-render .content-param h5 span{
	padding-right: 8px;
	font-weight: bold;
  font-size: 14px;
  color: #ca4d3f;
	vertical-align: middle;
}

.content-render pre{
  display: inline-block;
  padding: 18px 20px;
  background-color: #fff;
  color: #1b2954;
  font-size: 13px;
  font-weight: bold;
  line-height: 2;
  zoom: 1;
}

.content-render .code-info{
  box-sizing: border-box;
  display: block;
	color: #ca4d3f;
  font-size: 16px;
  line-height: 22px;
  height: 30px;
  padding: 4px 10px;
  font-weight: bold;
  border: 1px solid;
}

.content-render pre.code{
  font-family: monospace;
	display: block;
  line-height: 1.6;
  color: #ddd;
  background-color:#444;
}

.content-render pre.code .comment{
  color: #777;
  font-weight: normal;
}

.content-render a{
	vertical-align: baseline;
	padding: 2px 5px;
	background-color: transparent;
	color: #ca4d3f;
	text-decoration:none;
	font-weight:bold;
}

.content-render a:hover{
	background-color: #ca4d3f;
	color: #fff;
}

.content-render table{
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid;
  color: #868686;
}
.content-render table th{
	padding: 5px 20px;
	border-bottom: 2px solid;
	text-align: left;
}

.content-render table td{
	padding: 10px 20px;
	border-bottom:1px solid;
}

.content-render .warning{
	color:#d88224;
}
