
@font-face {
  font-family: 'Electrolize-Regular';
  src: url('../fonts/Electrolize-Regular.eot?#iefix') format('embedded-opentype'),  
	   url('../fonts/Electrolize-Regular.woff') format('woff'), 
	   url('../fonts/Electrolize-Regular.ttf')  format('truetype'), 
	   url('../fonts/Electrolize-Regular.svg#Electrolize-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


body{
  font-family: "Electrolize-Regular","Segoe UI",Helvetica,"Microsoft Jhenghei","Hiragino Sans GB","WenQuanYi Zen Hei","Microsoft Yahei",sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
	overflow-x: hidden;

	background:#fff url("bg.png") repeat;

  -webkit-font-smoothing: subpixel-antialiased;
}

p {
    margin-top: 0;
    margin-bottom: 10px;
}

.clear{
	zoom:1;
}

.clear:after,
.clear:before{
	display:table;
	line-height: 0;
	content:0;
}

.contain{
	display: block;
	width: 100%;
	max-width: 100%;
}

.contain:after,
.contain:before{
	display: table;
	line-height:0;
	content: "";
}

.contain .list-left{
	position: fixed;
	height: 100%;
	width: 220px;

	overflow-x:hidden;
	overflow-y:auto;

	background-color: #f9f9f9;
  border-left: 3px solid #6d1818;
  border-right: 1px solid #6d1818;

	-webkit-box-shadow: 3px 0 12px rgba(0, 0, 0, 0.18);
	box-shadow: 3px 0 12px rgba(0, 0, 0, 0.18);

  z-index: 5;
}

.contain .list-right{
	display: block;
	width: 68%;
	margin-left:224px;

	overflow-x: hidden;
	/* min-height:1000px; */
}

.contain .logo{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display:flex;
  _display:block;

  width: 100%;
  height: 86px;
}

.contain .logo-img,
.contain .logo-msg{
	display: table-cell;
}

.contain .logo-img{
  width: 80px;
  height: 80px;
  background: url(aixlogo.png) center center no-repeat;
  background-size: cover;
}

.contain .logo-msg{
  font-size: 15px;
  padding-top: 15px;
  line-height: 1.8;

  color: #5d2121;
  font-weight: bold;
}

.contain .logo-msg span{
	display: block;
}

.contain .list{
	padding: 0;
	height: 100%;
	max-height:100%;
}

.contain .list .list-title{
	padding: 6px 8px;
	font-weight: bold;
	color: #fff;
	background-color: #6d1818;
}

.contain .list .list-items{
  padding-left: 20px;
  margin: 10px 0;
  list-style-type: none;
}

.contain .list .list-items li{
	padding: 1px 0;
}

.contain .list .list-items a{
	position: relative;
	display:inline-block;
	text-decoration:none;
	cursor: pointer;
	color:#6d1818;
	background-color: transparent;
	padding: 1px 4px;
	font-size: 12px;
}

.contain .list .list-items a.part{
	font-size:15px;
}

.contain .list .list-items a.child{
	margin-left:18px;
	text-indent: 1px;
}

.contain .list .list-items a.active,
.contain .list .list-items a:active,
.contain .list .list-items a:hover{
	background-color:#6d1818;
	color: #fff;
}

.contain .content-render{
	padding: 20px 30px 20px 20px
}

.content-render h2{
	margin-top:0;
	margin-bottom:20px;

}

.content-render .content-s-title{
	position: relative;
	display: inline-block;
  padding: 4px 9px 4px 14px;
	font-size: 24px;
	font-weight: bold;
	color: #fff;
	background-color: #6d1818;
	margin-left:-4px;
}

.content-render .content-s-title:first-child{
	margin-left:0px;
}

.content-render .content-s-title:after{
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  content: "";
  right: -42px;
  top: 0;
  border: 21px solid transparent;
  border-left-color: #6d1818;
  z-index:1;
  zoom:1;
}

.content-introduce h3{
	font-weight: bold;
	font-size: 23px;
	color: #331616;
}

.content-render hr{
	border:0;
	height: 1px;
	margin:20px 0; 
	background-color: #fff;
}

.content-render code{
	font-family: "Electrolize-Regular",monospace,sans-serif;
  display: inline-block;
  text-indent: 2px;
  padding: 4px 10px;
  margin-bottom:5px;
  background-color: #6d1818;
  color: #fff;
  font-weight: bold;
  vertical-align: baseline;
}

.content-render .content-param{
	line-height: 2;
}
.content-render .content-param h5{
	font-size: 13px;
	font-weight: normal;
	margin: 0 ;
	padding: 0 ;
}

.content-render .content-param h5 span{
	padding-right: 8px;
	font-weight: bold;
  font-size: 14px;
  color: #6d1818;
	/* vertical-align: middle; */
}

.content-render pre{
  display: inline-block;
  padding: 18px 20px;
  background-color: #fff;
  color: #1b2954;
  font-size: 13px;
  font-weight: bold;
  line-height: 2;
  zoom: 1;
}

.content-render .code-info{
  box-sizing: border-box;
  display: block;
	color: #6d1818;
  font-size: 16px;
  line-height: 22px;
  height: 30px;
  padding: 4px 10px;
  font-weight: bold;
  border-left: 6px solid;
}

.content-render .code-res{
  font-weight: bold;
  font-size: 13px;
  padding-left: 7px;
  border-left: 2px solid;
}

.content-render pre.code{
  font-family: monospace;
  font-weight:normal;
	display: block;
  line-height: 1.6;
  color: #ddd;
  background-color:#444;
}

.content-render pre.code .comment{
  color: #777;
  font-weight: normal;
}

.content-render a{
	vertical-align: baseline;
	padding: 2px 5px;
	background-color: transparent;
	color: #6d1818;
	text-decoration:none;
	font-weight:bold;
}

.content-render a:hover{
	background-color: #6d1818;
	color: #fff;
}

.content-render table {
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid;
  color: #6d1818;
  width: auto;
  margin:20px 0;
}

.content-render table th{
  padding: 10px 20px;
  border-bottom: 3px solid #6d1818;
  font-size: 15px;
  text-align: left;
  font-weight: bold;
  color: #000;
}

.content-render table td{
	padding: 8px 20px;
	border-bottom: 1px solid;
}

.content-render table td:first-child {
    font-weight: bold;
    color: #000;
}

.content-render .warning{
	color:#d88224;
}
