@font-face {
	font-family: 'Titillium';
	src: url('fonts/hinted-TitilliumWeb-Regular.eot');
	src: url('fonts/hinted-TitilliumWeb-Regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/hinted-TitilliumWeb-Regular.woff2') format('woff2'),
		url('fonts/hinted-TitilliumWeb-Regular.woff') format('woff'),
		url('fonts/hinted-TitilliumWeb-Regular.ttf') format('truetype'),
		url('fonts/hinted-TitilliumWeb-Regular.svg#TitilliumWeb-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* @font-face { */
/* 	font-family: 'Jura'; */
/* 	src: url('fonts/hinted-Jura-DemiBold.eot?#iefix') format('embedded-opentype'), */
/* 		url('fonts/hinted-Jura-DemiBold.woff2') format('woff2'), */
/* 		url('fonts/hinted-Jura-DemiBold.woff') format('woff'), */
/* 		url('fonts/hinted-Jura-DemiBold.ttf') format('truetype'), */
/* 		url('fonts/hinted-Jura-DemiBold.svg#Jura-DemiBold') format('svg'); */
/* 	font-weight: 400; */
/* 	font-style: normal; */
/* } */

*,:before,:after{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
  line-height: 1.15; /* 2 */
  -ms-text-size-adjust: 100%; /* 3 */
  -webkit-text-size-adjust: 100%; /* 3 */
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
figcaption,
figure,
main { /* 1 */
  display: block;
}
figure {
  margin: 1em 34px;
}
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
dfn {
  font-style: italic;
}
mark {
	background-color: #eee;
	color: #a0a0a0;
	padding: 1px 7px;
	margin-bottom: 10px;
	display: inline-block;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}
button,
input { /* 1 */
  overflow: visible;
}
button,
select { /* 1 */
  text-transform: none;
}
button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 0px dotted ButtonText;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 1px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}
progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -1px; /* 2 */
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
details, /* 1 */
menu {
  display: block;
}
select{
	background-color: transparent;
	border:0;
	border-radius: 0;

	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;

	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;

	zoom:1;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}

body{
	font-family:"Titillium","Jura","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:14px;
	background-color:#fff;
	line-height: 1.6024236872;

	font-size-adjust: unset;
	font-stretch: expanded;

  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;

  zoom:1;
}

hr{
	height: 1px;
	background-color: #eee;
	width: 100%;
	border: 0;
}

h1,h2,h3,h4,h5,h6{
	margin:0;
	margin-bottom:10px;
}

code{
	font-family: inherit;
	background-color: #efefef;

	color: #6f3434;
	font-size: 12px;
	padding: 0 6px 1px;
	vertical-align: 1px;
	border-radius: 2px;
}

a{
	font-size:15px;
	color: #8a3838;
  text-decoration: none;
}

a:focus,
a:hover,
a:active{
  text-decoration: underline;
}

a i{
	font-size: inherit;
	vertical-align: baseline;
}

.clear{
	display:block;
	*zoom:1;
}

.clear:before,
.clear:after{
	display: table;
	content: '';
	line-height: 0;
}

.clear:after{
	clear:both;
}

.btn{
	position: relative;
	overflow: visible;
	display: inline-block;
	padding: 0.3em 0.6em 0.375em;
	border: 1px solid;
	margin: 0;
	text-decoration: none;
	text-align: center;
	font: bold 11px/normal 'lucida grande', tahoma, verdana, arial, sans-serif;
	white-space: nowrap;
	cursor: pointer;

	-webkit-outline: none;
	outline: none;

	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;

	z-index: 1;
	zoom: 1;
}

.btn.btn-fb-default{
	color: #333;
	border-color:#999;
	border-bottom-color: #888;
	background-color: #eee;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f6f6), to(#e4e4e3));
	background-image: -moz-linear-gradient(#f5f6f6, #e4e4e3);
	background-image: -o-linear-gradient(#f5f6f6, #e4e4e3);
	background-image: linear-gradient(#f5f6f6, #e4e4e3);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f5f6f6', EndColorStr='#e4e4e3');
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #fff;
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #fff;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #fff;

}

.btn.btn-fb-default:focus,
.btn.btn-fb-default:hover,
.btn.btn-fb-default.focus,
.btn.btn-fb-default.hover{
  border-color: #777 #777 #666;
}

.btn.btn-fb-default:active,
.btn.btn-fb-default.active{
	border-color: #aaa;
	background: #ddd;
	filter: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.main{
	display:flex;
}

.main .sidebar{
	-ms-flex:2;
  -webkit-flex:2;
  flex:2;
  min-width: 0;
  max-width:210px;
  background-color:#eee;
}

.main .content{
	-ms-flex:10;
  -webkit-flex:10;
  flex:10;
  min-width: 0;
  background-color:#fff;
}

.s-top{
  position: relative;
  display: block;
  padding-bottom: 160px;
}

.s-logo{
	position: absolute;
	display:block;
	left:0;
	top:0;

	width:100%;
	height:100%;
	overflow:hidden;
}

.s-logo .s-logo-cube,
.s-logo .s-logo-incube,
.s-logo .s-logo-inside,
.s-logo .s-logo-bar{
	display:table;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	width:0;
	color:transparent;
}


.s-logo .s-logo-cube{
	border: 110px solid;
	border-left-width: 70px;
	border-right-width: 70px;
	border-bottom-color: #8a3838;
	top: -100px;
	z-index: 1;
}

.s-logo .s-logo-incube{
	border: 65px solid;
  border-left-width: 40px;
  border-right-width: 40px;
  border-bottom-color: #eee;
  top: -10px;
  z-index: 2;
}

.s-logo .s-logo-inside{
	border: 40px solid;
	border-left-width: 25px;
	border-right-width: 25px;
	border-bottom-color: #8a3838;
	top: 40px;
	z-index: 3;
}

.s-logo .s-logo-bar{
	width: 40px;
	height: 25px;
	top: 95px;
	left: 40px;
	background-color: #8a3838;
	z-index: 4;
}

.s-middle{
	text-align: center;
}

.s-title{
	margin:0;
	font-size: 40px;
	text-transform: uppercase;
}

.s-description{
	margin: 0;
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom:20px;
}

.s-description-icon{
	font-size: 18px;
	vertical-align: -2px;
	margin-right: 1px;
}

.s-search{
	position: fixed;
	display: table;
	padding: 20px;

	top: 30px;
	right: 30px;
	width:240px;
	max-width:240px;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: 0 4px 24px -1px rgba(0, 0, 0, 0.1);
}

.s-search .s-search-key{
	display: inline-block;
	padding: 4px 4px 4px 34px;
	color:#444;
	margin: 0;
	font-size: 12px;
	width:100%;
	max-width:100%;
	height: 34px;
	line-height: 34px;
	margin-bottom: 20px;

	background-color:#fff;
	border: 1px solid #ccc;

	overflow:hidden;
	-webkit-border-radius:2px;
	border-radius:2px;

	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	-webkit-outline: none;
	-moz-outline: none;
	outline: none;
}

.s-search .s-search-key:focus{
	border-color:#8a3838
}

.s-search .s-search-icon {
	font-size: 20px;
	position: absolute;
	top: 21px;
	left: 30px;
	color: #4a4a4a;

  -webkit-user-select:none;
  -moz-user-select:none;
  user-select:none;

  -webkit-outline:none;
  outline:none;

  pointer-events:none;
  zoom:1;
  z-index:0;
}
.s-menu{
	padding: 0 20px;
	text-transform: uppercase;
}

.s-menu-section{
	margin-bottom:10px;
}

.s-menu-section h4{
	display:block;
	font-weight:normal;
	font-size:18px;
	margin-top:0;
	margin-bottom:10px;
  -webkit-text-shadow: 0 1px 0px #ccc8c8;
  -moz-text-shadow: 0 1px 0px #ccc8c8;
  text-shadow: 0 1px 0px #ccc8c8;

  -webkit-user-select:none;
  -moz-user-select:none;
  user-select:none;

  -webkit-outline:none;
  outline:none;
}

.s-menu-section .s-caption{
	display: inline-block;
  color: #fff;
  border: 1px solid #b77474;
  background-color:#b77474;
  padding: 0 8px 1px;
  font-weight:bold;
  font-size: 14px;
  margin: 8px 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

	text-decoration: none;
	text-transform: none;

	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
}

.s-menu-section .s-caption:hover{
	background-color:transparent;
	border-color:#8a3838;
	color:#8a3838;
}

.s-menu-section .s-link{
	display: table;
	width: auto;
	font-size:14px;
	color:#8a3838;
	text-decoration: none;
	text-transform: none;
	padding: 2px 5px;
	padding-left:10px;
	margin-bottom: 2px;
}

.s-menu-section .s-link:hover{
	font-weight:bold;
	text-decoration:underline;
}

.s-menu-section .s-link:before{
	display:inline-block;
	/* content: "\2630"; */
	margin-right: 3px;
	vertical-align: baseline;

	content:"-";
	clear:both;
	clip:auto;
}

.s-menu-section .s-link-icon{
	margin-left: 2px;
	font-size:11px;
	vertical-align: middle;
}

.content{
	display:block;
	width:100%;
	padding-left:30px;
	padding-top:30px;
}

#tags{
	padding: 0 4px;
}

.t-out,
.t-child{
	display:table;
	cursor:pointer;
}

.t-child{
	font-size: 13px;
	padding-left: 15px;
	color: #924545;
}

.t-out{
	font-size:16px;
  font-weight: bold;
  line-height: 1.7;
}

.introduce,
.api{
	padding-right:33%;
}

.introduce p,
.introduce h3,
.introduce ul li,
.api p,
.api h3{
	margin:0;
	margin-bottom:12px;
}

.introduce h3,
.api h3{
	font-size:32px;
}

.introduce ul{
	list-style-type: square; 
	padding-left:20px;
}

.introduce .it-cap{
	list-style-type: none;
	font-size: 16px;
	padding-left: 10px;
}

.introduce .it-cap li{
	line-height:1.62;
	margin-bottom:20px;
}

.introduce p{
	font-size:16px;
}

.introduce pre{
	margin:0;
	font-size:12px;
	max-width:100%;
	min-width:0;
	padding:20px 0;
	-moz-tab-size:2;
	tab-size:2;
}

.introduce .it-outlink{
	display:inline-block;
	margin-right:18px;
}

.introduce .it-outlink:before, 
.introduce .it-outlink:after {
    display: inline;
    color: #8a3838;
}

.introduce .it-outlink:before{
	content:"[";
	margin-right:5px;
}

.introduce .it-outlink:after{
	content:"]";
	margin-left:5px;
}

.introduce footer{
	padding: 20px 0;
	color: #888;
	font-size: 13px;
}

.it-block{
	margin-bottom:10px;
}

.it-example{
	display:flex;
	min-width:0;
	max-width:100%;
}

.it-example-info{
	display:block;
	padding-left:10px;
	font-size:20px;
	font-weight:bold;
	color:#888;
	border-left:4px solid;
	line-height:1.1;
	margin:20px 0;
}

.it-example .ite-code,
.it-example .ite-preview{
	position:relative;
	min-width:0;
	max-width:100%;
	flex:5
}

.it-example .ite-code:before,
.it-example .ite-preview:before,
.api-examples .example-code:before,
.api-examples .example-preview:before{
	position: absolute;
	display: table;
	line-height: 1;
	top: 0;
	padding: 1px 7px 3px;
	font-size: 12px;
	vertical-align: baseline;
	background-color: #f1f1f1;
	color: #6d6d6d;
}

.it-example .ite-code:before{
	left: 0;
	content:"code"
}

.it-example .ite-preview:before{
	right: 0;
	content:"preview"
}

.it-example .ite-code{
	border-right: 1px solid #f1f1f1;
}

.it-example .ite-preview{
	background-color:#f8f8f8;
}

.it-example .ite-mount{
	padding:20px 0 0 20px;
	line-height:1;
}

.it-example .ite-mount .del{
  display: inline-block;
  float: right;
  padding: 0px 4px 2px;
  background: #ccc;
  border-radius: 1px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;

  -webkit-user-select:none;
  -moz-user-select:none;
  user-select:none;
}

.api p{
	font-size:15px;
}

.api .api-introduce,
.api .api-params,
.api .api-usage,
.api .api-info,
.api .api-related,
.api .api-examples{
	padding-bottom:1px;
	margin-bottom:30px;
}

.api-usage .usage-example{
	display: table;
	font-size: 14px;
	padding: 2px 11px;
	color: #fff;
	background-color: #8a3838;
	margin-bottom: 12px;
	border-radius: 2px;
}

.api-params .param{
  font-size: 16px;
  /* text-transform: capitalize; */
  margin-bottom: 6px;
}

.api-params .param b {
	display: inline-block;
	padding: 0 8px 2px;
	color: #868686;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
	line-height: 1.2;
	vertical-align: 1px;
	background-color: #dadada;
	border: 1px solid #dadada;

	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	border-radius:1px;
}

.api-examples{
	display:block;
	max-width:100%;
	overflow:hidden;
}

.api-examples .example{
	display:block;
	max-width:100%;
	margin-bottom:15px;
	z-index:1;
	zoom:1;
}

.api-examples .example .code{
 	padding: 20px;
 	margin: 0;
	-moz-tab-size:2;
	tab-size:2;
}

.api-examples .example h5{
	font-size:26px;
	font-weight:normal;
	color:#666;
}

.api-examples .example-code{
	position: relative;
	flex:5;
}

.api-examples .example-code:before{
	left: 0;
	content:"code"
}

.api-examples .example-preview{
	flex:5;
}

.api-examples .example-code .btn{
	position:absolute;
	font-size:11px;
	right:10px;
	top:10px;
}

.api-examples .example-code .btn i{
	font-size:12px;
	vertical-align:-1px;
}

.api-related .relate-link{
	display:table;

}

.api-info table{
	max-width:100%;
	table-layout: fixed;
  border-collapse: collapse;
	margin: 0;
	padding:1px 0;
	margin-bottom: 15px;
	overflow:hidden;
}

.api-info table th,
.api-info table td{
	padding: 15px 10px;
	border-bottom:1px solid #f1f1f1;
}

.api-info table td{
	color: #888;
}

.api-info table tr td:first-child{
	color: #5a7759;
	font-size:15px;
	font-weight: bold;
}

.api-info table th{
	color:#8a3838;
	font-size:15px;
	font-weight:bold;
	text-align:left;
}
